<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Thank you!</h1>
                    <p class="intro-text">We are working to find you the best deal.<br>Will contact you via email.</p>
                </div>
            </div>
        </div>
    </div>
</header>